
<h1>Cocktails#index</h1>

<ul>
<% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
<% end %>

</ul>

<br>
  <%= link_to "add a cocktail", new_cocktail_path %>
